/wsrcui/node_modules/
/composer.phar
/vendor/
/wasm/Wasm/_app/bootstrap.php.cache
/wasm/Wasm/_app/config/parameters.yml

!/wasm/Wasm/_app/var/cache
/wasm/Wasm/_app/var/cache/*
!wasm/Wasm/_app/var/cache/.gitkeep

!/wasm/Wasm/_app/var/logs
/wasm/Wasm/_app/var/logs/*
!wasm/Wasm/_app/var/logs/.gitkeep

!/wasm/Wasm/_app/var/tmp
/wasm/Wasm/_app/var/tmp/*
!wasm/Wasm/_app/var/tmp/.gitkeep

!/wasm/Wasm/_app/var/SymfonyRequirements.php
/wasm/Wasm/_app/phpunit.xml
/web/uploads/
/wsrcui/node_modules/