.WasmBootModalScene__root {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 30%;
    background: red;
}

.WasmBootModalScene__root-enter {
    transform: scale(0);
}

.WasmBootModalScene__root-enter-active {
    transform: scale(1);
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -ms-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
    transition: transform 400ms ease;
}

.WasmBootModalScene__root-leave {
    transform: scale(1);
}

.WasmBootModalScene__root-leave-active {
    transform: scale(0);
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -ms-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
    transition: transform 400ms ease;
}